html, body {
  background: #efefef;      
     height:100%;  
     }

     #messageArea {
         display: none;
     }
     .error {
         color: red;
     }
     .privateMsg {
         color: blue;
     }